# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - docs

stages:
  - stage: Ubuntu
    jobs:
      - job: Ubuntu
        pool:
          vmImage: "ubuntu-latest"
        strategy:
          matrix:
            FortiOS60:
              name: "FortiOS 6.0"
              IPADDRESS: $(IPADDRESS_60)
              OLDAUTH: true
            FortiOS62:
              name: "FortiOS 6.2"
              IPADDRESS: $(IPADDRESS_62)
              OLDAUTH: true
            FortiOS64:
              name: "FortiOS 6.4"
              IPADDRESS: $(IPADDRESS_64)
              OLDAUTH: false
            FortiOS70:
              name: "FortiOS 7.0"
              IPADDRESS: $(IPADDRESS_70)
              OLDAUTH: false
            FortiOS72:
              name: "FortiOS 7.2"
              IPADDRESS: $(IPADDRESS_72)
              OLDAUTH: false
            FortiOS74:
              name: "FortiOS 7.4"
              IPADDRESS: $(IPADDRESS_74)
              OLDAUTH: false
            FortiOS76:
              name: "FortiOS 7.6"
              IPADDRESS: $(IPADDRESS_76)
              OLDAUTH: false
        steps:
          - task: PowerShell@2
            displayName: "Test PowerShell Core $(name)"
            inputs:
              targetType: "inline"
              script: |
                import-module ./PowerFGT
                $PesterConfig = New-PesterConfiguration
                $PesterConfig.TestResult.OutputFormat = "NUnitXml"
                $PesterConfig.TestResult.OutputPath = "Test-pwsh.xml"
                $PesterConfig.TestResult.Enabled = $True
                $PesterConfig.Output.Verbosity = "Detailed"
                cd Tests
                Copy-Item credential.ci.ps1 credential.ps1
                cd integration
                Invoke-Pester -Configuration $PesterConfig
              pwsh: true
            env:
              LOGIN: $(LOGIN)
              IPADDRESS: $(IPADDRESS)
              PASSWORD: $(PASSWORD)
              OLDAUTH: $(OLDAUTH)
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: "NUnit"
              testResultsFiles: "Tests/integration/*.xml"
              failTaskOnFailedTests: true

  - stage: Windows
    dependsOn: Ubuntu
    jobs:
      - job: Windows
        pool:
          vmImage: "windows-latest"
        strategy:
          matrix:
            FortiOS60:
              name: "FortiOS 6.0"
              IPADDRESS: $(IPADDRESS_60)
              OLDAUTH: true
            FortiOS62:
              name: "FortiOS 6.2"
              IPADDRESS: $(IPADDRESS_62)
              OLDAUTH: true
            FortiOS64:
              name: "FortiOS 6.4"
              IPADDRESS: $(IPADDRESS_64)
              OLDAUTH: false
            FortiOS70:
              name: "FortiOS 7.0"
              IPADDRESS: $(IPADDRESS_70)
              OLDAUTH: false
            FortiOS72:
              name: "FortiOS 7.2"
              IPADDRESS: $(IPADDRESS_72)
              OLDAUTH: false
            FortiOS74:
              name: "FortiOS 7.4"
              IPADDRESS: $(IPADDRESS_74)
              OLDAUTH: false
            FortiOS76:
              name: "FortiOS 7.6"
              IPADDRESS: $(IPADDRESS_76)
              OLDAUTH: false
        steps:
          - task: PowerShell@2
            displayName: "Test PowerShell Core $(name)"
            inputs:
              targetType: "inline"
              script: |
                import-module ./PowerFGT
                $PesterConfig = New-PesterConfiguration
                $PesterConfig.TestResult.OutputFormat = "NUnitXml"
                $PesterConfig.TestResult.OutputPath = "Test-pwsh.xml"
                $PesterConfig.TestResult.Enabled = $True
                $PesterConfig.Output.Verbosity = "Detailed"
                cd Tests
                Copy-Item credential.ci.ps1 credential.ps1
                cd integration
                Invoke-Pester -Configuration $PesterConfig
              pwsh: true
            env:
              LOGIN: $(LOGIN)
              IPADDRESS: $(IPADDRESS)
              PASSWORD: $(PASSWORD)
              OLDAUTH: $(OLDAUTH)
          - task: PowerShell@2
            displayName: "Test PowerShell 5 $(name)"
            inputs:
              targetType: "inline"
              script: |
                import-module ./PowerFGT
                $PesterConfig = New-PesterConfiguration
                $PesterConfig.TestResult.OutputFormat = "NUnitXml"
                $PesterConfig.TestResult.OutputPath = "Test-powershell.xml"
                $PesterConfig.TestResult.Enabled = $True
                $PesterConfig.Output.Verbosity = "Detailed"
                cd Tests
                Copy-Item credential.ci.ps1 credential.ps1
                cd integration
                Invoke-Pester -Configuration $PesterConfig
              pwsh: false
            env:
              LOGIN: $(LOGIN)
              IPADDRESS: $(IPADDRESS)
              PASSWORD: $(PASSWORD)
              OLDAUTH: $(OLDAUTH)
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: "NUnit"
              testResultsFiles: "Tests/integration/*.xml"
              failTaskOnFailedTests: true
# - stage: macOS
#   dependsOn: Windows
#   jobs:
#   - job:
#     pool:
#       vmImage: 'macos-latest'
#     strategy:
#       matrix:
#         FortiOS60:
#            name: "FortiOS 6.0"
#            IPADDRESS: $(IPADDRESS_60)
#         FortiOS62:
#            name: "FortiOS 6.2"
#            IPADDRESS: $(IPADDRESS_62)
#         FortiOS64:
#            name: "FortiOS 6.4"
#            IPADDRESS: $(IPADDRESS_64)
#         FortiOS70:
#            name: "FortiOS 7.0"
#            IPADDRESS: $(IPADDRESS_70)
#         FortiOS72:
#            name: "FortiOS 7.2"
#            IPADDRESS: $(IPADDRESS_72)
#         FortiOS74:
#            name: "FortiOS 7.4"
#            IPADDRESS: $(IPADDRESS_74)
#         FortiOS76:
#            name: "FortiOS 7.6"
#            IPADDRESS: $(IPADDRESS_76)
#     steps:
#     - task: PowerShell@2
#       displayName: "Test PowerShell Core $(name)"
#       inputs:
#         targetType: 'inline'
#         script: |
#           import-module ./PowerFGT
#           $PesterConfig = New-PesterConfiguration
#           $PesterConfig.TestResult.OutputFormat = "NUnitXml"
#           $PesterConfig.TestResult.OutputPath = "Test-pwsh.xml"
#           $PesterConfig.TestResult.Enabled = $True
#           $PesterConfig.Output.Verbosity = "Detailed"
#           cd Tests
#           Copy-Item credential.ci.ps1 credential.ps1
#           cd integration
#           Invoke-Pester -Configuration $PesterConfig
#         pwsh: true
#       env:
#         LOGIN: $(LOGIN)
#         IPADDRESS: $(IPADDRESS)
#         PASSWORD: $(PASSWORD)
#     - task: PublishTestResults@2
#       inputs:
#         testResultsFormat: 'NUnit'
#         testResultsFiles: 'Tests/integration/*.xml'
#         failTaskOnFailedTests: true
